*{
    margin:0px;
    padding:0px;
    

}
.cont{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.App {
    

   
   border:2px solid black;
   box-shadow: 5px 10px #888888;
    display: flex;
    align-items: center;
   padding:5px;
    flex-direction: column; 
  }
  .App input 
  {  margin-top:5px;
    width:100%;
      
      line-height:30px;
  }
 .App button{
      margin-top:20px;
      border-radius:5px;
      
  }
  img {
    width: 300px;
    margin: 10px;
  }